/*
body is a parent/container of canvas
to place an item/child in the horizontal center of the container/parent : 
- display: flex;
- justify-content: center;
*/

body {
  /*<body> has default margin (= 8px)*/
  margin: 0;

  background-color: black;
  /* Hide scrollbars */
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  margin: 0;
}

/*
Grid is : 
1. a grid container = the parent = display : grid
2. children of it automatically become grid elements
*/

#menu {

  position: fixed;
  /*full screen*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  background-color: black;
}

.menu-box {
  background-color: black;
  border: 2px solid white;

  display: flex;
  flex-direction: column;
  /*justify-content: center;*/

  /* important : will make title & canvas centered horizontaly*/
  /*align-items: center;*/

  align-items: center;
  justify-content: flex-start;

  cursor: pointer;

}

.menu-title {
  height: 40px;
  width: 100%;
  color: white;
  font-size: 1.2rem;

  text-align: center;
  line-height: 40px;
  /*Align text vertically along the 40 px*/
}

.preview-canvas {
  display: block;
  flex-grow: 1;
  /*should take the whole remaining height space*/

  /*rest is defined in JS*/
}

#canvas {
  display: none;
}

#back-button {
  position: fixed;
  z-index: 10;
  right: 20px;
  top: 20px;

  padding: 10px 30px;
  font-size: 16px;

  background-color: white;
  color: red;

  border: 2px solid green;

  cursor: pointer;

  /*only appears in canvas mode*/
  display: none;

}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;

  /*flex : automatic horizontal alignment*/
  display: flex;
  /*gap : space between child=btn*/
  gap: 10px;
  display: none;
}

#ui button {
  padding: 8px 12px;
  cursor: pointer;

  /*only appears in canvas mode*/
}